//npm.pkg.github.com/:_authToken=9d29273a4909fc7fc7a427e3d22b9c5eea8a153d
@tajawal:registry=https://npm.pkg.github.com/tajawal
strict-ssl=false
save-exact=true
color=true
save=true
interactive=false
ignore-engines=true
check-files=true
