//npm.pkg.github.com/:_authToken=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
@tajawal:registry=https://npm.pkg.github.com/tajawal
strict-ssl=false
save-exact=true
color=true
save=true
interactive=false
ignore-engines=true
check-files=true
