//npm.pkg.github.com/:_authToken=1064711f894b7788653c2e793dcf154baa3d54e9
registry=https://npm.pkg.github.com/tajawal
progress=true
strict-ssl=false
save-exact=true
color=true
save=true
interactive=false
ignore-engines=true
check-files=true
no-progress=false
